/* CSS Document */
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}
header{
    background-color: #353A40;
}
.carousel-item{
    height: 100%;
    min-height: 100%;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;    
}

.fixed-top.scrolled{
    transition: 750ms ease;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: orange;
}
.navbar-brand.scrolled{
    width: 128px !important;
    
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: #FFFFFF;
    
}
.navbar-light .navbar-nav .nav-link{
    color: #FFFFFF;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #393841;
    background-color: #F9B133;
    transition: 0.5s;
    transform-origin: left;
    transform: scale(1.1);
    z-index: -1;
    
}

.navbar-light .navbar-brand{
    color: #FFFFFF;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing:  2px;
}

.sec-info{
	background-image:url("../img/paralaxorg.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
}

.sec-services{
    background-color: #F4F4F4;
    padding-top: 50px;
    padding-bottom: 50px;   
}
.sec-services .card{
    margin-top: 10px;
    margin-bottom: 10px;
}
.sec-progr{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
    background-color: #3B3946;
    
}
.sec-progr .program{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    background-color: #3B3946;
    
}
footer{
    color: #fff;
    background-color: #1D1C21;
    padding-top: 10px;
    padding-bottom: 10px;
}
.sec-streaming{
    padding-top: 110px;
    padding-bottom: 110px;
    background-image:url("../img/paralaxorg.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
    display:block;
}
.mi-iframe {
  width: 100px;
  height: 50px;
}

/* CSS pantallas de 320px o superior */
@media (min-width: 320px) {

  .mi-iframe {
    width: 200px;
    height: 150px;
  } 

}

/* CSS pantalla 768px o superior */
@media (min-width: 768px) {

  .mi-iframe {
    width: 500px;
    height: 350px;
  } 

}
